.page {
  /* background-image: url('../../images/bgimage.png'); */
  background: linear-gradient(rgb(49, 71, 90), rgb(50, 50, 50));
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1280px;
  margin: auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
