.main-section__img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-image: url('../../../images/avatarCV.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 40% 20%;
  margin: 0 auto;
}
